*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  -webkit-appearance: none;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 0.1em;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 0.1em;
  line-height: 1.4em;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.1em;
  line-height: 1.3em;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

.text-bold {
  font-weight: 700;
}

.main-header {
  text-align: center;
  padding: 3em 3em 0 3em;
  color: #D04F4F;
  font-weight: 700;
}
.main-header img {
  width: 50px;
}

.main-nav {
  padding: 1em 3em;
}

.search-input {
  width: 100%;
  border-radius: 5px;
  height: 60px;
  padding: 1em;
  background-color: #E7E7E7;
  border: none;
  background-image: url(/images/loupe.png);
  background-position: 99% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  margin-bottom: 2em;
}
.search-input::placeholder {
  width: 90%;
}

#select-inputs-container {
  display: flex;
  flex-flow: row;
  position: absolute;
}

#Ingredients {
  background-color: #3282F7;
}

#Appareil {
  background-color: #68D9A4;
}

#Ustensiles {
  background-color: #ED6454;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.expanded-list {
  width: 500px !important;
}

#listIngredientsContainer, #listAppareilContainer, #listUstensilesContainer {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}
#listIngredientsContainer li, #listAppareilContainer li, #listUstensilesContainer li {
  display: block;
  width: 32%;
  margin-bottom: 5px;
}

.list-no-flex {
  display: block !important;
}

.item-corresponding {
  width: 100% !important;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.add-margin-top {
  margin-top: 1em;
}

#Ingredients, #Appareil, #Ustensiles {
  width: fit-content;
  color: white;
  justify-content: space-between;
  padding: 1.3em 1em;
  width: 155px;
  border-radius: 5px;
  margin-right: 1em;
  height: fit-content;
  height: -moz-max-content;
}
#Ingredients input, #Appareil input, #Ustensiles input {
  border: none;
  background-color: transparent;
  width: 80%;
  color: white;
  font-family: "Lato", sans-serif;
}
#Ingredients input::placeholder, #Appareil input::placeholder, #Ustensiles input::placeholder {
  font-size: 1.2em;
  color: white;
  font-family: "Lato", sans-serif;
}
#Ingredients input:focus, #Appareil input:focus, #Ustensiles input:focus {
  border: none;
  outline: none;
}
#Ingredients .input-list-mode::placeholder, #Appareil .input-list-mode::placeholder, #Ustensiles .input-list-mode::placeholder {
  color: rgba(255, 255, 255, 0.479);
}

.chevrons-container {
  width: 20px;
  position: relative;
}
.chevrons-container img {
  position: absolute;
}
.chevrons-container .chevron-close {
  display: none;
}
.chevrons-container .chevron-display {
  display: block;
}
.chevrons-container .chevron-no-display {
  display: none;
}

#recipes-cards-container {
  padding: 0 3em;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  margin-top: 4em;
}

.card-recipe {
  background-color: #E7E7E7;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2em;
}

.recipe-img-container {
  background-color: #C7BEBE;
  height: 178px;
}

.recipe-text-container {
  padding: 1em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
}
.card-header span {
  display: flex;
}
.card-header h2 {
  font-size: 1.2em;
  width: 80%;
}
.card-header img {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.body-card {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  height: 190px;
}
.body-card .description-recipe {
  height: fit-content;
  width: 48%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.body-card ul {
  width: 49%;
}

.item-list-clickable {
  cursor: pointer;
}
.item-list-clickable:hover {
  opacity: 0.6;
}

#render-search {
  margin-bottom: 1.5em;
  display: flex;
}

.IngredientsItemTag {
  background-color: #3282F7;
  color: white;
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  align-items: center;
}

.UstensilesItemTag {
  background-color: #3282F7;
  color: white;
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #ED6454;
}

.AppareilItemTag {
  background-color: #68D9A4;
  color: white;
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  align-items: center;
}

.icone-delete {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 1024px) {
  .main-header {
    text-align: center;
    padding: 3em 1.8em 0 1.8em;
  }

  .main-nav {
    padding: 1em 1.8em;
  }

  #recipes-cards-container {
    padding: 0 1.8em;
    grid-template-columns: repeat(2, 48%);
  }

  #Ingredients, #Appareil, #Ustensiles {
    padding: 1.3em 0.8em;
    width: 140px;
  }

  .expanded-list {
    width: 320px !important;
  }
}
@media screen and (max-width: 767px) {
  #Ingredients, #Appareil, #Ustensiles {
    padding: 1.3em 0.8em;
    width: 30%;
  }

  #recipes-cards-container {
    padding: 0 2em;
    display: block;
  }

  #Ingredients, #Appareil, #Ustensiles {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    margin-right: 9px;
  }

  #select-inputs-container {
    flex-flow: row wrap;
    position: absolute;
  }

  .chevrons-container {
    width: 15px;
  }

  .expanded-list {
    width: 30%;
  }

  .search-input {
    margin-bottom: 1em;
  }

  .main-nav {
    padding: 1em 1em;
  }
}

/*# sourceMappingURL=style.css.map */
